.DS_Store
node_modules
/src
/static
/.svelte-kit
.env
.env.*
.gitignore
.git
.github
.vscode
.idea
*.log
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vercel
.output
tests
coverage
playwright.config.ts
svelte.config.js
tsconfig.json
vite.config.js
.prettierrc
.eslintrc.cjs 